{% extends "base.html" %}
{% block content %}
    <main class="form-signin w-100 m-auto">
        <div class="col-md-8 col-lg-6 col-xl-4 col-offset-md-6 col-offset-lg-6 col-offset-xl-4">
            <form method="post" action="{% url 'register' %}">
                <h1 class="h3 mb-3 fw-normal">Please Register</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
            </form>
        </div>
    </main>
{% endblock content %}
